.af-admin-button {
    background-image: url(../images/text-footnote.svg)!important;
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.block-editor-rich-text__editable>af:first-of-type::before {
    content: "footnote";
    color: #888;
    font-size: 12px;
    position: relative;
    top: -5px;
    margin-right: 3px;
    margin-left: 3px;
}

af {
    background: #ccc;
}

