.af-footnote {
    padding-left: 2px;
    padding-right: 2px;
    line-height: initial;

    &--selected {
        background: #eee;
        border-radius: 2px;
    }

    &__connector {
        background: #000;
        position: absolute;
        width: 0.9px;
    }

    a {
        text-decoration: none;
    }

    &__note {
        display: none;
        font-size: 80%;
        color: #777;

        a {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: bottom;
        }

        &--tooltip {
            position: absolute;
            left: 0;
            border: 1px solid #666;
            background: #fff;
            padding: 0.7em 1em;
            border-radius: 3px;
            max-width: 300px;
            box-shadow: 1px 1px 1px #eee;
            box-sizing: border-box;
            z-index: 1;

            &:focus {
                /* remove focus style for tooltip */
                outline: none;
            }
        }

        &--expandable {
            display: block;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
}


.af-list {
    list-style-type: none;
    font-size: 1em;
    margin: 1em 0;
    padding-left: 0;

    li {
        display: flex;
        margin-bottom: 0.3em;

        >sup {

            margin-right: 1em;
            color: #777;
            word-wrap: normal;
            word-break: normal;
        }
    }
}



.af-list--show-only-for-print,
.af-list-heading--show-only-for-print {
    display: none;
}

@media print {

    .af-list--show-only-for-print,
    .af-list-heading--show-only-for-print {
        display: block;
    }

    .af-list--hide-for-print,
    .af-list-heading--hide-for-print {
        display: none;
    }
}